*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #FFF;
}

header, header nav{
  background-color: #FFF;
}
header nav a.button-collapse{
  color: #000;
}
.container{
  width: 100%;
}
.row{
  margin-bottom: 0;
  margin-top: 0;
}
.container  .row{
  margin-left: 0;
  margin-right: 0;
}
header .container .nav-wrapper a>img{
  width: 120px;
}
header .container .nav-wrapper{
  display: flex;
  justify-content: flex-end;
}
header nav a.button-collapse{
  transform: translateX(1100%);
}
/*Estilos para section hero*/
#hero .container .hero-box{
  background: rgb(247,182,23);
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 20px;
  border-radius: 5px;
  margin-right: 0;
}
#hero img.logo-labcar-hero{
  width: 80px;
}
#hero .container .hero-box  a{
  background: #FFF;
  color: #000;
  border-radius: 10px;
}
#hero{
  background-image: url(../assets/images/taxi.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  color: #FFF;
  display: flex;
  align-items: center;
}

/*Estilos para ssection new app*/
#newApp{
  background: rgb(247,182,23);
  flex-direction: column;
  display: flex;
  align-items: center;
}
#newApp .box-cell-phone img{
  display: flex;
  align-items: center;
  width: 250px;
}
.box-cell-phone{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  outline: 1px solid #FFF;
  margin: 3%;
}

/*Estilos para section conduce*/
#conduce{
  background-image: url(../assets/images/conduce.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  color: #FFF;
}
.box-conduce{
  background-color: rgba(52, 52, 52, 0.45);
  padding: 12vh 10vw;
}
.box-conduce a{
  background: rgb(247,182,23);
  color: #FFF;
  border-radius: 10px;
  margin-top: 5px;
  padding: 8px;
}

/*Estilos para section tarifa*/
#tarifas{
  padding: 20px;
  background: rgb(247,182,23);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#tarifas a{
  background: #FFF;
  border-radius: 10px;
  color: #000;
}
.container-map{
  padding: 7px 7px 0 7px;
  border-radius: 5px;
  border: 1px solid #FFF;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
.container-map iframe{
  width: -webkit-fill-available;
  border-radius: 5px;
}

/*Estilos para section footer*/

footer{
  background-color: rgb(52, 52, 52);
  padding: 10px;
}
footer a{
  color: #FFF;
}
footer a.waves-effect{
  color: #FFF;
  font-size: 12px;
  padding-left: 0;
  display: table;
}
.links-external-footer{
  padding-top: 5%;
}
.links-external-footer a{
  margin-right: 5%;
  display: inline-block !important;
}
footer .links-external-footer img{
  width: 70%;
  margin-top: 20px;
}
address{
  padding-top: 5px;
}

@media (min-width: 768px){
  nav ul a{
    color: #000;
  }
  .nav-wrapper a.brand-logo{
    left: 5rem;
  }
  #hero .container .show-on-medium-and-up.hide-on-small-only p>img{
    width: 80px;
    margin-left: 10px;
  }
  #hero .container .show-on-medium-and-up.hide-on-small-only a{
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /*section newApp*/
  .box-cell-phone{
    flex-direction: inherit;
    margin: 3% 3% 3% 0;
  }
  #newApp div.show-on-medium-and-up.hide-on-small-only.col.m6{
    padding: 10px 20px;
  }
  #newApp .container .row div.col.s12.col.m10{
    padding-left: 0;
  }
  /*Section conduce*/
  #conduce{
    height: 35vh;
    flex-direction: inherit;
    align-items: flex-start;
  }
  .box-conduce{
    padding: 2vh 3vw;
  }
  #conduce .container .row div.col.s12.col.m4.offset-m8{
    padding-right: 0;
  }
  /*Section tarifas*/
  #tarifas .container .row>div:first-child{
    padding-top: 6vh;
  }
  #tarifas input.active{
    border-bottom: 1px solid #FFF;
    box-shadow: 0 1px 0 0 #FFF;
  }
  .links-external-footer-desktop{
    padding-top: 25vh;
  }
  .links-external-footer-desktop a{
    margin-right: 5%;
  }
  .links-external-footer{
    padding-top: 15vh;
  }
}

@media (min-width: 992px) {
  #hero{
    height: 60vh;
  }
  #conduce{
    height: 30vh;
  }
  footer .container .row div.col.s6.col.m3 a{
    display: flex;
    flex-direction: column;
  }
  .links-external-footer-desktop{
    padding-top: 18vh;
  }
  .links-external-footer{
    padding-top: 9vh;
  }
}

@media (min-width: 1200px) {
   #hero .container, #conduce .container{
    margin-right: 0;
  }
  #hero{
    height: 85vh;
  }
  #newApp .container{
    margin-left: 0;
  }
  #newApp div.show-on-medium-and-up.hide-on-small-only.col.m6{
    padding: 20px 50px;
  }
  .box-cell-phone{
    padding: 50px 20px;
  }
  #conduce{
    height: 60vh;
    background-position: center;
  }
  .box-conduce{
   padding: 5vh 5vw;
  }
  #tarifas{
    padding: 50px 20px;
  }
  .links-external-footer-desktop{
    padding-top: 38vh;
  }
}
